<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DeadByDaylight</title>
    <script
            src="https://kit.fontawesome.com/ae20d15cd7.js"
            crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/css/blog.css" />
</head>
<body>
<div id="wrap">
    <header>
        <div id="logo">
            <img
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5A1kkVLW3IQwitQF1xD0ijZeKZuZhomxfYg&usqp=CAU"
                    alt=""
            />
        </div>
        <nav class="headMenu">
            <div class="navbar">
                <a href="#home"></a>
                <div class="subnav">
                    <button class="subnavbtn">
                        About <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="subnav-content">
                        <a href="#Board">Board</a>
                        <a href="#members">Members</a>
                        <a href="#">Home</a>
                    </div>
                </div>
                <div class="subnav">
                    <button class="subnavbtn">
                        KILLERS <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="subnav-content">
                        <a href="#deliver">트래퍼</a>
                        <a href="#package">악귀</a>
                        <a href="#express">카니발</a>
                        <a href="#express">쉐이프</a>
                        <a href="#express">해골상인</a>
                    </div>
                </div>
                <div class="subnav">
                    <button class="subnavbtn">
                        Contact <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="subnav-content">
                        <a href="https://store.steampowered.com/">스팀</a>
                        <a href="https://deadbydaylight.com/">DeadByDaylight</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <section id="centerMneu">
        <div class="back" style="position: relative">
            <div class="frist">
                <img
                        class="dotgu"
                        src="https://i.namu.wiki/i/Ksdt0XOfrtSW1Mu2hB9p9ZLxTwxtMo27r9RBBI2Rcy_peARtm6lLAs2nDqqtRlHAiKqCohgcgMtEt9KVpDQH1g.webp"
                        alt=""
                />
 <div class="senze">
                <img
                        class="senze"

                        src="https://i.namu.wiki/i/FqsA4aZ1yk4hXNxoK_hL5Yvm9ibZ-sXrXpR6KA4IlKrVY4iIrjz6O8rbI4Q2lXFtRuuvAM8wYR4c_J0sCkNafg.webp"
                        alt=""
                />
 </div>
            </div>
            <div class="second">
                <img
                        class="sickgu"
                        src="https://i.namu.wiki/i/BaXZNcyKqcd1goY3chr1IT-LU7FBFNRZTFWmP4dA6ctEmUOuj3CRGUECA05R_eY7gs6qbQ9PfV6OY5ssCxTiOw.webp"
                        alt=""
                />
            </div>
            <div class="three">
                <img
                        class="oni"
                        src="https://i.namu.wiki/i/hpQZ69njOU1TGab5wdl4Ln64Z3qOsuukGCUuYHblVVXobfV1JS_UApS6yCfc1RIW-YfaDLn8NOiTsmyi8MLn2Q.webp"
                        alt=""
                />
            </div>
            <div class="four">
                <img
                        class="jungu"
                        src="https://i.namu.wiki/i/F479GfIXCymiljHhFlEQweMYpPVHufLxuEG66iWEKuBfyhFYs92XZ6j80g4WLtbaKG_faG8Rb2Tjm0MMmOS1KQ.webp"
                        alt=""
                />
            </div>
            <div class="fonts">
            <span style="color: red" class="D">D</span
            ><span style="color: red" class="E">E</span
            ><span style="color: red" class="A">A</span
            ><span style="color: red" class="D-1">D</span>
                <span style="color: white" class="B">B</span>
                <span style="color: white" class="B">Y</span><br />
                <span style="color: wheat">DAYLIGHT</span>
            </div>
        </div>
    </section>
</div>
<script></script>
</body>
</html>
